@{
    ViewBag.Title = "Inicio";
}
<div class="container">
    <h1 align="center"> Lab C# APPWEB</h1>
    <p align="center"> Conecte a personas, ubicaciones y datos. Trabaje con estilos inteligentes basados en datos y herramientas de análisis intuitivas. Comparta sus ideas con el resto del mundo o con grupos concretos.</p>

    <div class="jumbotron">
        <p>
            <img src="https://www.esri.com/content/dam/esrisites/en-us/arcgis/products/arcgis-online/assets/arcgis-online-make-maps-banner-foreground.png" />
        </p>
    </div>
</div>

