@model List<EjercicioMVC.Entity.DEPARTMENTS>
@{
    ViewBag.Title = "iPeople - Departaments";
}

<body>

    @Html.Partial("_Header")
    @if (ViewBag.Mensaje != null)
    {@ViewBag.Mensaje}
    @Html.Partial("_Table")
</body>


