@model  EjercicioMVC.Entity.DEPARTMENTS
@{
    ViewBag.Title = "Insert Departments";
}

@using (Html.BeginForm("Insertar", "Departaments", FormMethod.Post))
{<body class="">
     <div class="container">


         <div class="row no-gutters text-justify">
             <div class="col-lg-6 order-lg-1 my-auto showcase-text"><h2 class="text-info">Create a new department </h2><p class="lead mb-0">We are always looking to create new departments!</p></div>
             <img src="@Url.Content("~/Content/img/city.png")" alt="">
         </div>
         <div><br /><h5>Department Name <br />@Html.TextBoxFor(r => r.DEPARTMENT_NAME, new { type = "text", minlength = "3", required = "required" })</h5></div>
         <div><h5>Department Description<br /> @Html.TextBoxFor(r => r.DEPARTMENT_DESCRIPTION)</h5></div>
         <div><h5>Location ID<br /> <select class="col-form-label" @Html.TextBoxFor(r => r.LOCATION_ID, new { required = "required" })>
                                                <optgroup label="Select an ID">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </optgroup>
                     </select></h5></div><br />
         <input class=" col-12 col-md-3 btn btn-block btn-lg btn-outline-primary" type="submit" name="Save" value="Save " />
     </div>
</body>
}
