@model List<EjercicioMVC.Entity.LOCATIONS>

@{
    ViewBag.Title = "iPeople - Locations";
}
<body>
    @Html.Partial("_Header")
    @if (ViewBag.Mensaje != null)
    {@ViewBag.Mensaje}
    @Html.Partial("_Table")
</body>

