@model  EjercicioMVC.Entity.LOCATIONS
@{
    ViewBag.Title = "Insert Employees";
}



@using (Html.BeginForm("Insertar", "Location", FormMethod.Post))
{<body>
    <div class="container">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Create a new location </h2>
                <p class="lead mb-0">We are always looking to create new location!</p>

            </div>
            <img src="@Url.Content("~/Content/img/mundo.png")" alt="">
        </div>
        <div class="container">
            <div><br /><h5>City</h5> @Html.TextBoxFor(r => r.CITY, new { required = "required" })</div>
            <br />
            <input type="submit" name="Save" value="Save " />

        </div>
   </div>

</body>
  
}
