body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em;
    background-color: #ecf0f1;
    color: #2471a3;
    
}

h2{font-size: 42px;}
h3{font-size: 28px;}
h4{font-size: 18px; line-height: 1.4em;}
#imagenlogo{
    width: 50px; 
    height: 50px;
    align-content: center;

}
#box{  
    padding-top: 1px;
    border: 25px solid #1472ca;
    margin-left: 650px;
    margin-right: 650px;


}
#error{
    color:#db0a0a;
}
#textoheader{
  
    font-family:'Verdana';
    text-align: center;
    font-size: 30px;
    color: #c6d1d8;
    background-color: #1472ca;
}
p{
    letter-spacing: 1px;
    color: #666;
    font-weight: lighter;
}

#margen{
    padding-top: 40px;
    text-align: center;
    display: block;
    
}
#mensaje{
    resize: none;
}
#botones {
    padding: 0;
    margin-left: 200px;
    }
#botones li {
display: inline;
    }
#botones li a {
    font-family: Arial;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    float: left;
    padding-inline-start: 40px;
    padding-inline-end: 100px;
    background-color: #2175bc;
    color: #fff;
    text-align: center;
        }
#botones li a:hover{
    color: #1883ba;
    background-color: #ffffff;
}

#boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background-color: #2471a3;
    border-radius: 6px;
    border: 2px solid #0f2b79;
  }
  #boton:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
  #boton1{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background-color: #bd74cc;
    border-radius: 6px;
    border: 2px solid #6c51ac;
  }
  #boton1:hover{
    color: #9642af;
    background-color: #ffffff;
  }
  #mapita{
    width: 100%;
    border: 2px solid #0f2b79;
  }
