<section class="call-to-action text-white text-center">
    <div class="col-md-12">
        <h5>Current Conditions in <span data-bind="text:name"></span></h5>
    </div>
    <div class="col-md-12">
       <h4> Temperature is <span data-bind="text:main.temp"></span>&deg; C</h4>
    </div>
    <script>
  var weather = Object();
            $(document).ready(function () {
                    $.get("@Url.Action("GetWeather", "Home")", function (response) {
                        console.log(response);
                        weather = ko.mapping.fromJS(response);
                        ko.applyBindings(weather);
                    });
            }); 
    </script>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d74295.35694009172!2d-58.4666401828465!3d-34.618776663782036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1605476891305!5m2!1ses-419!2sar" width="850" height="320" frameborder="1" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
 </section>

