<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(@Url.Content("~/Content/img/bg-showcase-1.jpg"));"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>We have great work teams</h2>
                <p class="lead mb-0">Our employees are in some of the best companies to work for in the world!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url(@Url.Content("~/Content/img/bg-showcase-2.jpg"));"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Our apartments are very modern</h2>
                <p class="lead mb-0">We have many offices. Our departments are equipped with the latest technology and an ideal environment to be able to work relaxed!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(@Url.Content("~/Content/img/bg-showcase-3.jpg"));"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>You can find us in all parts of the world</h2>
                <p class="lead mb-0">We know that our world is becoming more and more global, that is why we have many locations so that you can find us in each city!</p>
            </div>
        </div>
    </div>
</section>
