<header class="masthead text-white text-center">
    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <img class="img-fluid rounded-circle mb-3" src="@Url.Content("~/Content/img/peoplelogo.png")" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">iPeople</h1>
            </div>
        </div>
    </div>
    <div class="overlay"></div>

</header>

