<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Meet some of the employees...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="@Url.Content("~/Content/img/testimonials-3.jpg")" alt="">
                    <h5>Nora Feliciano</h5><p>Manager</p>
                    <p class="font-weight-light mb-0">She is our sales manager!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="@Url.Content("~/Content/img/testimonials-2.jpg")" alt="">
                    <h5>Jose Michetti</h5><p>Administrative</p>
                    <p class="font-weight-light mb-0">He is currently in charge of the administration and accounting area.</p>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="@Url.Content("~/Content/img/testimonials-1.jpg")" alt="">
                    <h5>Cristina Nuncio</h5><p>Operator</p>
                    <p class="font-weight-light mb-0">She provides phone assistance for our customers!</p>
                </div>
            </div>
        </div>
    </div>
</section>
